<form [formGroup]="OrderDetailForm">
    <br />
    <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0">
                <div class="container row">
                    <div class="col-12 d-none d-md-block col-md-6 pb-1 text-warning h3">
                        Order Summary
                    </div>
                    <div class="col-12 col-md-4 offset-md-2 text-right mt-2">
                        <a class="btn btn-warning form-control btn-sm" (click)="GoOrder()">Back to Orders</a>
                    </div>
                </div>
            </div>
            <div class="card-body" *ngIf="orderless">
                {{orderless.firstName}}
                {{orderless.lastName}}
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row my-1">
                                <div class="col-3">Name</div>
                                <div class="col-9">
                                    <input readonly class="form-control" formControlName="name" />
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col-3">Phone</div>
                                <div class="col-9">
                                    <input readonly class="form-control" formControlName="phone" />
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col-3">Email</div>
                                <div class="col-9">
                                    <input readonly class="form-control" formControlName="email" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Order Date</div>
                                <div class="col-9">
                                    <input readonly class="form-control" formControlName="orderDate" />
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col-3">Session ID</div>
                                <div class="col-9">
                                    <input readonly class="form-control" formControlName="sessionId" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Payment Intent ID</div>
                                <div class="col-9">
                                    <input readonly class="form-control" formControlName="paymentIntentId" />
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col-3">Order Status</div>
                                <div class="col-9">
                                    <input readonly class="form-control" formControlName="orderStatus" />
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-warning">Order Summary</span>
                            </h4>
                            <label class="bg-info text-dark text-center form-control my-2">Order Status - {{
                                orderless.status }}</label>

                            <ul class="list-group mb-3">

                                <li class="list-group-item d-flex justify-content-between p-2"
                                    *ngFor="let detail of orderless.orderDetails">
                                    <div class="row container">
                                        <div class="col-8">

                                            <h6 class="my-0 text-primary">{{ detail.productName }}</h6>
                                            <small class="text-muted">Price : {{ detail.price }}</small><br />
                                            <small class="text-muted">Quantity : {{ detail.count }}</small>
                                        </div>
                                        <div class="col-4 text-end">
                                            <p class="text-success">{{ detail.count * detail.price }}</p>
                                        </div>
                                    </div>
                                </li>

                                <li class="list-group-item bg-primary">
                                    <div class="row container">
                                        <div class="col-6">
                                            <h5 class="text-white">TOTAL </h5>
                                        </div>
                                        <div class="col-6 text-end">
                                            <h5 class="text-white">{{ orderless.orderTotal }}</h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <div *ngIf="orderStatus === statusApproved">
                                <button type="submit" class="btn btn-success form-control my-1" (click)="UpdateOrderStatus(orderless.orderHeaderId,statusReadyForPickup)">Ready for
                                    Pickup</button>
                            </div>

                            <div *ngIf="orderStatus === statusReadyForPickup">
                                <button type="submit" class="btn btn-success form-control my-1" (click)="UpdateOrderStatus(orderless.orderHeaderId,statusCompleted)">Complete Order</button>
                            </div>

                            <div *ngIf="orderStatus === statusApproved || orderStatus === statusReadyForPickup">
                                <button type="submit" class="btn btn-danger form-control my-1" (click)="UpdateOrderStatus(orderless.orderHeaderId,statusCancelled)">Cancel Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>