<div class="card mt-2">
    <div class="card-body">
      <div class="d-none d-lg-block">
        <div class="row text-danger">
          <div class="col-6">
            Product Details
          </div>
          <div class="col-3">
            Price
          </div>
          <div class="col-3">
            Count
          </div>
        </div>
      </div>
      <hr />
      <div class="row h-100" *ngFor="let item of cardDetails">
        <div class="col-6">
          <span style="font-size:20px">{{ item.productDto.name }}</span>
        </div>
        <div class="col-3" style="font-size:11px;">
          <span style="font-size:17px;"> ${{ item.productDto.price}}</span>
        </div>
        <div class="col-3" style="font-size:11px;">
          <span style="font-size:17px;"> {{ item.count }}</span>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-12 text-center pr-4 text-danger">
          Order Total:  {{ cartHeader?.cartTotal | currency : "USD" : "symbol" : "1.2-2" }}
          <br />
          <span class="text-success"> Order Discount:  {{ cartHeader?.discount | currency : "USD" : "symbol" : "1.2-2" }}</span>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-12">
          <button type="submit"  class="btn btn-success form-control" [disabled]="orderForm.invalid">
            <span>Place Order</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  