<form [formGroup]="orderForm" (ngSubmit)="placeOrder()">
    <div class="container mt-4">
      <div class="card border mt-2 p-4 rounded">
        <div class="row">
          <div class="col-md-7 col-12">
            <h3 class="text-warning mb-2">Order Summary</h3>
          </div>
          <div class="col-md-5 col-12 text-end">
            <a routerLink="../cart" class="btn btn-outline-warning">Back to Cart</a>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-7 col-12">
            <div class="row mb-3">
              <div class="col-12">
                <input formControlName="firstName" placeholder="First name..." class="form-control" />
              </div>
              <div class="col-12 mt-2">
                <input formControlName="lastName" placeholder="Last name..." class="form-control" />
              </div>
              <div class="col-12 mt-2">
                <input formControlName="email" placeholder="Email..." class="form-control" />
              </div>
              <div class="col-12 mt-2">
                <input formControlName="phoneNumber" placeholder="Phone number..." class="form-control" />
              </div>
              <div class="col-12 mt-3">
                <label class="col-form-label">
                  Order will be ready in 30 minutes after placing the order.
                  If you place an order when the restaurant is closed, it will be ready the next day.
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-12">
            <!-- Order Details Card -->
            <app-order-details-card [cardDetails]="cartDetails" [cartHeader]="cartHeader"></app-order-details-card>
          </div>
        </div>
        
      </div>
    </div>
  </form>
  